body {
    background-image: linear-gradient(to bottom, #0B4F47, #0067541C, #AAD4C8);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
    height: 100%;
    font-family: 'Cairo', sans-serif;
    /* يغطي كل الشاشة */
}

html,
body {
    height: 100%;
    margin: 0;
    font-family: 'Cairo', sans-serif;
}

.politOne {
    position: relative;
    /* أو absolute */
    width: 138px;
    height: 138px;
    border-radius: 50%;
    background-color: #1C675580;
    margin-top: calc(-138px / 2);
    z-index: 90;
}

.PolitTwo {
    width: 138px;
    height: 138px;
    border-radius: 50%;
    background-color: #ffff;
    opacity: .3;
    transform: translate(-50%, -50%);
}

.contanerCenter {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: "999"
}

.contanerCenter h1 {
    color: #006754;
}

.contanerCenter button {
    width: 171px;
    padding: 11px;
    border-radius: 50px;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: #FAF6EB;
    color: #000;
    font-family: 'Cairo', sans-serif;
    z-index: 1000;
}

.bottom {
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 134px;
}